<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Hustle: Confirm New user</title>

  <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../static/css/registration.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="jumbotron">
        <div class="row">

          <h1 class="text-center">Hustle</h1>


          <p class="lead form-signin-heading">Thanks for authenticating yourself! Please click <a href="/signin">here</a> to continue</p>
        </div>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <link href="../js/bootstrap.js">
  </body>
</html>
