
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Hustle: Sign In</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/registration.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <h1 class="text-center">Hustle</h1>


      <div class="row">
        <form class="form-signin" role="form" action="resetPassword" name="login-form" method="post">
          {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
          {% csrf_token %}
        </form>

        <!-- Register and Forgot Buttons (empty divs for spacing) -->
          <div class="col-md-4"></div>
          <div class="col-md-2">
            <button onclick="location.href='register'" class="btn btn-md btn-primary btn-block">Register</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-md btn-primary btn-block">Forgot?</button>
          </div>
          <div class="col-md-4"></div>
       



      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <link href="../js/bootstrap.js">
  </body>
</html>