{% extends "reg-base.html" %}

{% block title %}Hustle: Forgot Password{% endblock %}

{% block jumbotron %}
<h1 class="text-center">Hustle</h1>
<p class="lead"> A new password will be sent to your email account. </p>

<!-- Messaging and Errors -->
{% for err in errors %}
<div class="text-danger"><small><strong>Error:</strong> {{err}}</small></div>
{% endfor %}
{% for m in messages %}
  <div class="text-success">
    {{m}}
  </div>
 {% endfor %}
 <!-- /Messaging and Errors -->

<form class="form-signin" role="form" action="forgotPassword" name="login-form" method="post">
  <input class="form-control" type="text" name="email" placeholder="Enter your email..." required autofocus>
  <button class="btn btn-lg btn-primary btn-block" type="submit">New Password</button>
  {% csrf_token %}
</form>
{% endblock %}