{% extends "reg-base.html" %}

{% block title %}Hustle: Forgot Password{% endblock %}

{% block jumbotron %}
<h1 class="text-center">Hustle</h1>
<p class="lead"> A new password will be sent to your email account. </p>
<form class="form-signin" role="form" action="forgotPassword" name="login-form" method="post">
  <input class="form-control" type="text" name="email" placeholder="Enter your email..." required autofocus>
  <button class="btn btn-lg btn-primary btn-block" type="submit">New Password</button>
  {% csrf_token %}
</form>
{% endblock %}