<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Hustle: Practice against the market</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Hustle</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">About</a></li>
              <li><a href="#about">Settings</a></li>
            </ul>
          </div>
        </div>
    </div> <!-- /navbar --> 
    

    <h1 class="text-center">{{username}}'s Hustle</h1>

      <!-- Marketplace -->
      <div class="page-header">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Marketplace</h3>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td colspan="12"> <!-- 12 magic number = len(head) + 1-->
                     <div class="navbar-form navbar-left" >
                      <div class="form-group">
                        <input id="searchTickerTxt" type="text" class="form-control" placeholder="Search Ticker Name">
                      </div>
                      <button id="searchTickerBtn" class="btn btn-default">Submit</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  {% for h in marketTable.head %}
                  <th class="text-center">{{h}}</th>
                  {% endfor %}
                </tr>
              </thead>

              <tbody id="marketplaceBody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <div>
    YOU HAVE THIS MUCH CASH = ${{cash}}
    </div>

    <div>
    <form method="link" action="logOut">
      <input type="submit" value="Log Out">
    </form>
    </div>

    <div>
    <form method="post" action="buy">
      <input type="text" name="ticker" value="goog">
      <input type="text" name="quantity" value="1000">
      <input type="text" name="price" value="50">
      <input type="text" name="isLong" value="False">
      {% csrf_token %}
      <input type="submit" value="Buy">
    </form>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> 

    <script>


    $("#searchTickerBtn").click(function(){
      var tckr = $("#searchTickerTxt").val();
      $.ajax({
      type: "GET",
      url: "http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20%28%22" + tckr + "%22%29&env=store://datatables.org/alltableswithkeys&format=json",
      success:function(data){
        if (data.query.results.quote.ErrorIndicationreturnedforsymbolchangedinvalid) {
          alert("No such ticker symbol.");
        } else { 
          var result = data.query.results.quote;
          console.log(result);
          var row = $("<tr></tr>");
          var name = $("<td>" + result.symbol + "</td>");
          var company = $("<td>" + result.Name + "</td>")
          var stockExchange = $("<td>" + result.StockExchange + "</td>");
          var bid = $("<td>" + result.Bid + "</td>");
          var ask = $("<td>" + result.Ask + "</td>");
          var buttons = $("<td class='text-center'><div class='btn-group'><button class='buyStockBtn btn btn-success'>Long</button><button class='btn btn-danger'>Short</button></div></td>");

          row.append(name);
          row.append(company);
          row.append(stockExchange);
          row.append(bid);
          row.append(ask);
          row.append(buttons);

          $("#marketplaceBody").append(row);
        }
        
      },
      error:function(e){
        console.log("GOT AN AJAX ERROR WHEN REFERENCING YAHOO API");
      },
      dataType: "json"
    });
    })

  $(".buyStockBtn").click(function() {
    alert("buy");
  })


  // Returns object with formatting
  function addMktTableElt(code){}


    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<link href="../js/bootstrap.js" rel="stylesheet"> -->   



  </body>
</html>