<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/registration.css" rel="stylesheet">

  <title>Hustle: Registration</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">

      <!-- Title -->
      <h1 onclick="location.href='signin'" class="text-center">Hustle</h1>
      <p class="lead text-center">With <strong>Hustle</strong>, you can </p>

      <!-- confirmation of email sending placed here. I'll make it prettier later. -->
      <!-- Errors -->
      <div class="row">
        {% for m in messages %}
        <div class="text-success">
          {{m}}
        </div>
        {% endfor %}

        {% for err in forms.student.form.non_field_errors %}
          <div class="text-danger"><small><strong>Error(Student):</strong> {{err}}</small></div>
        {% endfor %}

        {% for err in forms.teacher.form.non_field_errors %}
            <div class="text-danger"><small><strong>Error(Class):</strong> {{err}}</small></div>
        {% endfor %}

        {% for err in forms.solo.form.non_field_errors %}
          <div class="text-danger"><small><strong>Error(Solo):</strong> {{err}}</small></div>
        {% endfor %}
      </div> <!-- /Errors -->

      <!-- Tabs -->
      <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
          <li><a href="#class" data-toggle="tab">Be a Student</a></li>
          <li><a href="#teacher" data-toggle="tab">Start a Class</a></li>
          <li class="active"><a href="#solo" data-toggle="tab">Go Solo</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade" id="class">
            <!-- Student Registration  -->
            <p class="text-center">Join a class and learn how to invest well</p>
            <form class="form-signin" role="form" action="{{forms.student.method}}" name="register-form" method="post">
              {% for field in forms.student.form.visible_fields %}
                {{field}}
              {% endfor %}
              <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
              {% csrf_token %}
            </form>
          </div>

          <div class="tab-pane fade" id="teacher">
            <!-- Teacher Registration -->
            <p class="text-center">Teach a class on how to invest</p>
            <form class="form-signin" role="form" action="{{forms.teacher.method}}" name="register-form" method="post">
              {% for field in forms.teacher.form %}
              {{field}}
              {% endfor %}
              <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
              {% csrf_token %}
            </form>
          </div>


          <div class="tab-pane fade in active" id="solo">
            <!-- Solo Registration -->

            <p class="text-center">Start your own portfolio and see how you'd compare in the market</p>

            <form class="form-signin" role="form" action="{{forms.solo.method}}" name="register-form" method="post">
              {% for field in forms.solo.form %}
              {{field}}
              {% endfor %}
              <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div> 
    </div> <!-- /jumbotron -->
  </div><!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Import jQuery and Bootstrap -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>

  </body>
  </html>