{% extends "home-base.html" %}

{% block heading %}{{username}}'s Hustle{% endblock %}

{% block jumbotron %}
<div class="page-header" id="graph">
  <h3>Graph<small id="graph-loading"></small></h3>
  <!-- Search Bar for Graph-->
  <input id="stockTickerQueryGraphInput" type="text" class="form-control" placeholder="Find a stock graph. Enter a ticker name (like GOOG, AMZN)">
  <button class="btn btn-primary" id="stockTickerQueryGraphInput1">Candlestick</button>
  <button class="btn btn-primary" id="stockTickerQueryGraphInput2">Area</button>
  <button class="btn btn-primary" id="stockTickerQueryGraphInput3">Compare Stocks</button>
  <!--button class='btn btn-success' onclick='#stockTickerQuery"'>Buy</button-->
  <!--Stock Chart-->
  <div class="input-group col-md-12" id="stockTickerQueryGraph1"></div>
  <div class="input-group col-md-10" id="stockTickerQueryGraph2"></div>
  <div class="input-group col-md-10" id="stockTickerQueryGraph3"></div>
</div>

<div class="page-header" id="portfolio">

  <!-- Portfolio Table -->
  <h2>Portfolio</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center">Ticker</th>
        <th class="text-center">Company</th>
        <th class="text-center">Date of Purchase</th>
        <th class="text-center">Bought At</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Current Bid</th>
        <th class="text-center">Value</th>
        <th class="text-center">Net Payoff</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody id="portfolioBody">
      {% if portfolio|length == 0 %}
      <!-- FIX THIS -->
              <!-- <tr>
                <td class="text-center text-danger" colspan="9">You don't own any stocks right now. Buy some from the marketplace!</td>
              </tr> -->
              {% endif %}

              {% for item in portfolio %}
              <tr title="{{item.tickerSymbol}}" id="portfolio-row{{forloop.counter0}}">
                <td class="text-center">{{item.tickerSymbol}}</td>
                <td class="text-center">{{item.companyName}}</td>
                <td class="text-center">{{item.date}}</td>
                <td class="text-center" id="portfolio-row{{forloop.counter0}}-boughtAt">{{item.boughtAt}}</td>
                <td class="text-center" id="portfolio-row{{forloop.counter0}}-quantity">{{item.quantity}}</td>
                <td class="text-center" id="portfolio-row{{forloop.counter0}}-currentBid">0</td>
                <td class="text-center" id="portfolio-row{{forloop.counter0}}-value"></td>
                <td class="text-center" id="portfolio-row{{forloop.counter0}}-netPayoff"></td>
                <td class="text-center">
                  <button class='btn btn-default' onclick="sell({{forloop.counter0}})">Sell</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- Portfolio Val and Cash on Hand -->
          <div class="row">
            <div class="col-sm-3">
              <h3 class="text-right">Portfolio Value</h3>
            </div>
            <div class="col-sm-3">
              <h3 id="portfolioValue" class="text-left text-success">TBD</h3>
            </div>

            <div class="col-sm-3">
              <h3 class="text-right">Cash on Hand</h3>
            </div>
            <div class="col-sm-3">
              <h3 id="cashOnHand" class="text-left text-success">${{cash}}</h3>
            </div>
          </div>
        </div>
        {% endblock %}

        {% block outsideJumbotronInsideContainer %}
        <!-- Marketplace -->
        <div class="page-header">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Marketplace</h3>
            </div>
            <div class="panel-body">

              <!-- Search Bar -->
              <div class="input-group">
                <span class="input-group-addon">Tickr</span>
                <input id="stockTickerQuery" type="text" class="form-control" placeholder="Enter a ticker name (like GOOG, AMZN)">
              </div>

              <!-- Marketplace Table -->
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="text-center">Ticker</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Exchange</th>
                    <th class="text-center">Bid</th>
                    <th class="text-center">Ask</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Action</th>
                    <th> </th>
                  </tr>
                </thead>

                <tbody id="marketplaceBody">
                </tbody>
              </table>
            </div>
          </div>
          {% endblock %}
